.main {
  width: fit-content;
  margin: auto;
}
.search {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 60px;
}
.searchBar {
  width: 500px;
  height: 40px;
  border: 3px solid rgb(166, 165, 165);
  border-radius: 5px;
  margin-right: 5px;
  font-size: larger;
}
.searchBar::placeholder {
  font-size: larger;
  text-align: center;
}

.searchBtn {
  width: 100px;
  height: 48px;
  background-color: bisque;
  border-radius: 5px;
  border: none;
}
.galleryImages {
  width: 300px;
  height: 300px;
}
.imgSingle {
  margin: 10px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.spinner {
  margin-top: 100px;
  margin-bottom: 30px;
}
.loadingText {
  color: #d59f20;
  margin-left: -25px;
}
.fullImgChild {
  margin-top: 50px;
  width: 100vh;
  height: auto;
}
.backBtn {
  display: block;
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px 30px;
  width: 30px;
}
.fullImgContainer {
  text-align: center;
}
